* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Rubik', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

