.world-information {
    width: 100%;
    margin-bottom: 15px;    

    &_header {
        @include flexCenter;
        color: color(font-color);
        padding: 20px 0;

        @include response(md) {
            font-size: size(sm);
            white-space: nowrap;
        }
    }
 
    &_details {
        @include content-size(100%, 180px);
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @include response(md) {
            display: flex;
            flex-wrap: wrap;
        }

        span, p {
            @include response(md) {
                display: none;
            }
        }

        &_confrimed {
            @include world-info(color(color-confrimed));
        }

        &_recovered {
            @include world-info(color(color-recovered));
        }

        &_critical {
            @include world-info(color(color-critical));
        }

        &_death {
            @include world-info(color(color-death));
        }
    }
}

.country-information {
    width: 90%;
    margin-bottom: 15px;

    @include response(md) {
        width: 100%;
    }

    @include response(sm) {
        width: 100%;
    }

    h3 {
        text-align: center;
        white-space: nowrap;
        color: color(font-color);
        padding-top:  50px;

        @include response(md) {
            font-size: size(sm);
        }
    }

    &_headers {
        @include flexCenter;
        padding-top: 20px;

        &_name {
            width: 40%;
            @include flexCenter;
        }

        &_cases {
            width: 25%;
        }

        &_recoverd {
            width: 25%;
        }

        &_criticals {
            width: 20%;
        }

        &_deats {
            width: 20%;
        }

        span {
            @media (max-width: 920px) {
                font-size: size(xs);
            }

            @media (max-width: 500px) {
                font-size: size(xxs);
            }
        }
    }

    &_detals {
        @include flexCenter(space-between, center);
        padding: 10px 10px;

        &:hover {
            background-color: darken(color(primary), 15%);
        }
        
        &_flag {
            @include content-size(10%, 80%);
        }

        &_name {
            @include content-size(20% ,100%);
            text-align: center;
            font-weight: 700;
            font-size: 12px;

            @include response(md) {
                font-size: size(xs);
            }

            @include response(sm) {
                font-size: size(xxs);
            }
        }

        &_confrimed {
            @include content-size(20% ,100%);
            @include country-info(color(color-confrimed));
        }

        &_recovered {
            @include content-size(20% ,100%);
            @include country-info(color(color-recovered));
        }

        &_critical {
            @include content-size(15%, 100%);
            @include country-info(color(color-critical));
        }

        &_death {
            @include content-size(15% ,100%);
            @include country-info(color(color-death));
        }
    }

}

.countries-container,.countries-container-favorite {
    @include flexColumn(center);
    width:100%;

    .country {
        width: 90%;
        margin: 1px 0;
        @include flexCenter(space-between, center);
        padding-left: 10px;
        cursor: pointer;
    
        &:hover {
            background-color: darken(color(primary), 15%);
        }
    
        &_flag {
            @include content-size(10%, 80%);
            margin-right: 3px;
        }
    
        &_name {
            @include content-size(40%, 100%);
            font-size: 12px;
            align-items: center;
        }
    
        &_new {
            @include content-size(15%, 100%);
            color: color(color-confrimed);
            font-size: size(xs);
        }
    
        &_new-recovered {
            @include content-size(15%, 100%);
            color: color(color-recovered);
            font-size: size(xs);
        }
     
        &_favorite {
            @include content-size(5%, 60%);
            margin-right: 2px;
            color: #E6E6FA;
            size: 25px;
    
            &:hover {
                color: lighten(color(secondary), 80%);
            }
        }
    
        &_favorite-active {
            @include content-size(5%, 60%);
            margin-right: 2px;
            color: color(secondary); 
            size: 25px;
    
            &:hover {
                color: lighten(color(secondary), 80%);
            }
        }
    }
}

 
.country_search {
    width: 90%;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 5px;

    @include response(md) {
        width: 80%;
    }
}


.container-background {
    padding-top: 40px;
    color: gray;  
    font-weight: 900;
    font-size: size(xxl);
    text-align: center;
    opacity: 0.15;
    letter-spacing: 30px;
}