.header {
    background-color: color(secondary);

    &_logo {
        width: 50%;
        @include flexCenter;

        img {  
            @include content-size(70%, 100%);
            
            @include response(md) {
                width: 90%;
            }
        }
    }
}


.main {
    @include flexCenter;
    background-color: color(primary);
    min-height: 80vh;

    @include response(md) {
        flex-direction: column;
    }

    .information-container {
        width: 70%;
        @include flexColumn;
        
        @include response(md) {
            width: 100%;
        }
    }
    
    .countries {
        width: 30%;
        @include flexColumn;

        @include response(md) {
            width: 100%;
        }

        h1 {
            color: color(font-color);
            padding-top: 20px;
            padding-bottom: 10px;
        }
    }
}


.footer {
    @include flexCenter;
    background-color: color(secondary);

    .author {
        cursor: pointer;
        font-size: 10px;
        color: color(font-color);
    }
}