@mixin  flexCenter($justCont: center, $alignIte: center) {
    display: flex;
    justify-content: $justCont;
    align-items: $alignIte;
}


@mixin flexColumn($justCont: flex-start, $alignIte: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justCont;
    align-items: $alignIte;
}


@mixin content-size($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}


@mixin world-info($type) {
    @include content-size(22%, 100%);
    @include flexColumn(space-evenly, flex-start);
    padding-left: 10px;
    color: $type;
    border-top: 1px solid $type;
    box-shadow: 0 10px 20px $type;

    span, h6, p {
        color: gray;
        font-size: size(xs);
    }

    @include response(md) {
        width: 49%;
        height: 49%;

        box-shadow: none;
        border-bottom: 10px solid $type;  
    }

    @include response(sm) {
        background-color: $type;
        color: #fff;

        h6 {
            color: #fff;
        }
    }
}


@mixin  country-info($type) {
    padding: 0 3px;
    color: color(font-color);
    border-bottom: 2px solid $type;
    box-shadow: 0 2px 6px $type;
    border-radius: 1px;
    margin-right: 3px;
    padding-bottom: 3px;
    font-size: size(xs);

    @include response(md) {
        box-shadow: none;
        border-bottom: 2px solid $type;
    }

    @include response(sm) {
        font-size: size(xxs);
    }
}


@mixin  response($breakpoint) {
    @if($breakpoint == xl){
        @media(max-width: 1440px) {
            @content;
        }
    }

    @if($breakpoint == lg){
        @media(max-width: 1024px) {
            @content;
        }
    }

    @if($breakpoint == md){
        @media(max-width: 768px) {
            @content;
        }
    }

    @if($breakpoint == sm){
        @media(max-width: 320px) {
            @content;
        }
    }
}