$colors: (
    primary: #f9fcfb,
    secondary: #7c9473,
    font-color: #0a043c,
    color-confrimed: #fd5e53,
    color-recovered: #21bf73,
    color-critical: #556B2F,
    color-death: #000000,
);

@function color($color-name) {
    @return map-get($colors, $color-name);
};


$font-sizes: (
    xxl: 50px, 
    xl: 30px,
    lg: 25px,
    md: 20px,
    sm: 18px,
    xs: 13px,
    xxs: 8px
);

@function size($size) {
    @return map-get($font-sizes, $size)
};